# Compiled class files
*.class

# Eclipse project files
.settings/
.project
.classpath
bin/

# IntelliJ IDEA
.idea/
*.iml

# Maven target directory
target/
!.mvn/wrapper/maven-wrapper.jar

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Archives
*.jar
*.war
*.ear
