.root{
-fx-background-color: #FFF8E1;
}

.label{

}

.heading {
    -fx-font-size: 36px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333; /* optional for color */
}

.header-bar {
    -fx-stroke: red;
    -fx-stroke-width: 1;
    -fx-stroke-type: inside;
    -fx-fill: #e9e9e9;
}



/* Default rectangle style */
#dropZone {
    -fx-fill: #f0f0f0;
    -fx-stroke: #999999;
    -fx-stroke-width: 2;
    -fx-arc-width: 10;
    -fx-arc-height: 10;
}

/* When a file is dragged over */
#dropZone.drag-over {
    -fx-fill: #e0f7fa;
    -fx-stroke: #00acc1;
}

/* On successful drop */
#dropZone.drop-success {
    -fx-fill: #c8e6c9;
    -fx-stroke: #388e3c;
}

.list-cell:hover {
    -fx-background-color: #cce5ff;  /* light blue */
}

.list-cell:selected {
    -fx-background-color: #3399ff; /* darker blue for selected */
    -fx-text-fill: white;
}

.report-card {
    -fx-background-color: #f0f0f0;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-padding: 10;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.15), 5, 0, 0, 2);
    -fx-transition: 0.2s;
}

.report-card:hover {
    -fx-background-color: #dceafe;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.report-title {
    -fx-font-weight: bold;
    -fx-font-size: 12px;
    -fx-text-alignment: center;
}





